.laserSaberCard{
    border: 1px solid black;
    margin: 10px;
}
.laserSaberCard:hover{
    position: relative;
    bottom: 5px;
    box-shadow: 0 5px 5px rgb(0, 24, 24);
}
.laserSaberForm{
    margin:50px;
    text-align: left;
}